.background-banner{
    
    margin-top: 13rem;
    height: 300px;
    background-size: cover;
    border: 0;
    /* margin-bottom: 1rem; */
    
}
.text-description-ecosystem{
    margin-left: 3rem;
    color:#9FC9F3;
}
.heading-ecosystem{
    font-size: 3.3rem;
    font-family: 'Times New Roman', Times, serif;
    line-height: 1.5;
}
.author-name{
    margin-left: 12rem;
}