.background-banner{
    
    padding-top: 6.9rem;
    background-image: linear-gradient(to left,rgba(0, 17, 8, 0.7),rgba(2, 14, 65, 0.7)),url("../../../public/banner-quote.jpg");
    
    height: 300px;
    background-size: cover;
    border: 0;
    /* margin-bottom: 1rem; */

    
}
.text-description-ecosystem{
    margin-left: 3rem;
    color:#9FC9F3;
}
.heading-ecosystem{
    font-size: 3rem;
    font-family: 'Times New Roman', Times, serif;
}