.Footer-box {
    /* background-color: #BBEFF6; */
    background-image: linear-gradient(to left,rgba(0, 17, 8, 0.7),rgba(2, 14, 65, 0.7)),url("../../../public/banner-quote.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 0px;
    bottom: 0px;
    padding: 4%;
    padding-top: 3%;
}

.Footer-box .FooterWrap {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    line-height: 38.79px;
    font-weight: 400;
}

.Footer-box .unstyled-list {
    list-style: none;
    border-left: 1.71041px solid #4423ba;
    padding-left: 12px;
}

.Footer-box a {
    text-decoration: none;
    color:
    #ea49fe;
}

.Footer-box .footerimg {
    margin-top: 25px;
    margin-left: 5px;
}

.Footer-box .footer-logo{

    /* width: 100px;
    height: 100px; */
    width: 68%;
}

.Footer-box .handles {
    width:  26%;
    height: 26%;
    padding: 9px;
}

.Footer-box .handleWrapper{
    margin: 2px;
    margin-left: 0px;
}
.Footer-box .facebook{
    margin-left: 0px;
    padding-left: 0px;
}


@media  screen and (max-width: 1421px) {
    .Footer-box .footer-logo{
        width: 43%;
    }

    .Footer-box .handles {
        width:  38.43px;
        height: 38.42px;
    }
}
@media  screen and (max-width: 722px){

    .Footer-box .footer-logo{
        width: 35%;
    }
    .Footer-box .FooterWrap{
        font-size:  12px;
        line-height: 21.79px;
    }
    .Footer-box .handles {
        width:  33.43px;
        height: 32.42px;
    }
    .Footer-box .unstyled-list {
        border-left: 1.31041px solid #4423ba;
        padding-left: 8px;
    }
}
@media  screen and (max-width: 546px){
    .Footer-box .footerimg{
        margin-left: 25px;
    }
    .Footer-box .footer-logo{
        width: 60%;
    }
    .Footer-box .FooterWrap{
        font-size:  8px;;
    }
    .Footer-box .handles {
        width:  23.43px;
        height: 22.42px;
        padding: 5px;
        padding-left: 0px;
    }
    .Footer-box .unstyled-list {
        border-left: 1.1041px solid #07A0E1;
        padding-left: 6px;
    }
}