
.banner{
    
    padding-top: 6rem;
    background-image:url("../../../public/banner2.jpg");
    
    height: 600px;
    background-size: cover;
}
.banner-content{
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}
.tagline{
    display: flex;
    flex-direction: column;
    text-align: center;
    color: #EEEEEE;
    font-family: 'Cormorant Garamond',sans-serif;
    
    
}

.sitename{
    text-transform: capitalize;
    padding-bottom:1rem;
    font-size: 6rem;
    font-weight: bolder;
    font-family: 'Helvelica Neue',sans-serif;
    font-style: italic;
}
.brand-name{
    font-size: 2rem;
    margin-bottom: 2rem;
}
