.carousel{
    display: flex;
    justify-content: space-between;
    height: 50%;
    align-items: center;
    padding-top: 2rem;
}
.carouselImage{
    height: 10rem;
    width: 10rem;
    border-radius: 20%;
    opacity: 0.7;
    
}
.carousel-content{
    display: flex;
    flex-direction: column;
    color: #EEEEEE;
    align-items: center;
}